# Arquivos de configuração local
config.ini
database_credentials.txt
doc-dev.md

# Arquivos de log
*.log
obras.json

# Diretórios de dependências
venv/
node_modules/

# Credenciais de Ambiente
.env

# Arquivos de cache
__pycache__/